# Custom blocks file
blocks.h

# Prerequisites

# Object files
*.o

# Linker output

# Precompiled Headers

# Libraries

# Shared objects (inc. Windows DLLs)

# Executables
dwmblocks

# Debug files

# crap
*.json
.vscode/